# EmailJS Configuration
# 1. Sign up at https://www.emailjs.com
# 2. Create a service (Gmail works), get your Service ID
# 3. Create an email template, get your Template ID
# 4. Get your Public Key from Account > API Keys

NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id_here
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id_here
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key_here
